*{
    margin:0;
    padding:0;

}
h1 {
    background-color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 30%;
    margin-left: 50px;
    padding: 10px;
}

ul {
    display: block;    
    list-style-type: none;
    margin: 0;
    margin-right: 10%;
  }

a {
    display: block;
    background-color: white;
    color: #777777;
    float: right;
    border-right: 1px solid #bbb;
  }

.name {
    padding: 8px;
    color: white;
    background-color: #4aaaa5; 
    margin-left: 10%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    float: left;
}

h2 {
    color: #4aaaa5;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 20px;
 }

 body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
 }

 .container {
     padding: 20px;
     display: block;
     color: #777777;
     border:1px solid #dddddd;
     margin:35px auto;
     font-family: Arial, Helvetica, sans-serif;
     width: 960px;
     background-color:#ffffff;
     line-height: 200%;
 }

 .navbar {
     background-color:white;
     overflow:auto;
     width: 100vw;
    border-bottom: 1px solid #cccccc;
 }

 #about {
    padding: 8px;
 }

 #portfolio {
    padding: 8px;
 }

 #contact {
    padding: 8px;
    border-right: none;
 }

 form {
    margin-left: 30px;
    line-height: 200%;
 }

 input {
    width: 95%;
    height: 30px;
 }

 #tallmessage {
    height: 250px;
    resize: both;
    overflow: auto;
 }
 #inputbutton {
    background-color: #4aaaa5;
    color: white;
    width: 100px;
    line-height: 150%;
 }

 .filler {
     color: lightgrey;
     font-size: 13px;
 }

 .project {
    position: relative;
 }
 .projecttype {
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    bottom: 15px;
    left: 0;
    font-size: 24px;
    color: white;
    font-weight: 400;
    background-color:#4aaaa5;
    width: 350px;
    height: 50px;
    text-align: center;
    padding-top: 15px;
 }
 #project-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
 }

 img {
    display: inline;
    width: 20%;
    float: left;
    style: left; margin: 4px 15px 0px 0px;
    margin-right: 20px;
  }

footer {
    text-align: center;
    background: #777777;
    color: lightgray;
    padding-top: 30px;
    padding-bottom: 5px;
    font-size: 10px;
    border-top: 5px solid #4aaaa5;
}

#dogpic1 {
    height: 350px;
    width: 350px;
}